@model SistemaEducacional.Models.ModelForms.FormsView

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card" style="width: 900px">
            <div class="card-body">
                <div style="margin-right:60px; margin-block-end:30px">
                    <small class="card-title">
                        <strong>
                            ALterar Turma
                        </strong>
                    </small>
                </div>

                <form asp-controller="Turma" method="post" asp-action="Alterar" id="for">
                    <input type="hidden" value="@Model.TurmaModel.Id" asp-for="@Model.TurmaModel.Id" />
                    <div class="container text-center">
                        <div class="row d-flex justify-content-center">
                            <label for="usuario" class="col-sm-2 col-form-label">
                                <small><strong>Nome</strong></small>
                            </label>

                            <div class="col-auto">
                                <input asp-for="@Model.TurmaModel.NomeTurma" type="text" value="@Model.TurmaModel.NomeTurma" class="form-control align-content-xl-center" id="usuario">
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <label for="usuario" class="col-sm-2 col-form-label">
                                <small><strong>Nome</strong></small>
                            </label>

                            <div class="col-auto">
                                <input asp-for="@Model.TurmaModel.AnoTurma" type="text" value="@Model.TurmaModel.AnoTurma" class="form-control align-content-xl-center" id="usuario">
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <label for="senha" class="col-sm-2 col-form-label">
                                <small><strong>Data Criação</strong></small>
                            </label>
                            <div class="col-auto text-center">
                                <input asp-for="@Model.TurmaModel.DataCriacao"  type="date" class="form-control" id="senha">
                            </div>
                        </div>
                        <br />
                        <div class="dropdown dropup">
                            <button style="margin-right:300px" type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Vincular docente
                            </button>
                            <ul class=" dropdown-menu">
                                <li>
                                    <div class="row">
                                        <div class="col">
                                            <div class="card">
                                                <div class="card-body" style="width:500px">
                                                    <strong class="card-title">
                                                        <small style="margin-left:180px">Vincular docente</small><hr />
                                                    </strong>
                                                    <p class="card-text" style="margin-left:180px">Docente</p>
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <select id="lista-conteudos" style="margin-left:180px"  asp-items="@(new SelectList(Model.TurmaModel.Docentes.OrderBy(x=> x.Id), "Id", "Nome" ))" class="form-select">
                                                            </select>
                                                        </div>

                                                    </div>
                                                    <div class="col">

                                                        <div id="check" style="margin-left:100px; padding-right:50px " data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
                                                           
                                                                @foreach (var item in Model.DisciplinaModel)
                                                                {
                                                                    <div class="form-check">
                                                                            <input onclick="func()" name="inputcheck" class="form-check-input" type="radio" value="@item.Nome" id="Default_@item.Id" >
                                                                            <label class="form-check-label" for="Default_@item.Id">
                                                                                @item.Nome
                                                                            </label>
                                                                    </div>
                                                              
                                                                }
                                                            </select>

                                                            
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <div style="margin-left:200px; margin-top:30px">
                                <input id="su" class="btn btn-outline-secondary" type="submit" value="Alterar" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    <script> 
        var obj = [];
        var sub = document.getElementById("su");
    var ch = document.getElementsByName("inputcheck");
        var select = document.getElementById('lista-conteudos');

        select.addEventListener('change', function () {
            if (obj.length > 0) {
            for (let item of obj) {
                if (item.idDoscente == select.value) {
                    for (var count = 0; count < @Model.DisciplinaModel.Count; count++) {
                        if (ch[count].value == item.disciplina) {
                            ch[count].checked = true;
                        };
                    };
                };
            };
        };
        });


        const func = function func() {
            for (var i = 0; i < @Model.DisciplinaModel.Count; i++) {
                if (ch[i].checked == true && obj.length == 0) {
                    obj.push({
                    "idDoscente": select.value,
                        "disciplina": ch[i].value
                    });
                } else if (ch[i].checked == true && obj.length > 0) {
                    var ind;
                    var teste = false;
                    for (var indice = 0; indice < obj.length; indice++) {
                        if (obj[indice].IdDoscente == select.value) {
                            teste = true;
                            ind = indice;
                            break;
                        } 
                    };
                    if (teste == true) {
                        obj.splice(ind, 1); obj.push({
                        "idDoscente": select.value,
                        "Disciplina": ch[i].value
                        });
                    } else {
                        obj.push({
                        "idDoscente": select.value,
                        "disciplina": ch[i].value
                        });
                    };
                };
            };
        console.log(obj);
            };
     
        sub.addEventListener('click', function (e) {
            e.preventDefault();
            var email = JSON.stringify([obj] );
            console.log("antes");
            $.post('/Turma/Alterar', {Email: email});
        });


    </script>
